.profileCard{
    max-width: 150px;
    max-height: 200px;
    margin-right: 30px;
}
.profileCardImage{
    background-size: cover;
}

mat-card{
    background-color: #8e24aa;
    margin-top: 40%;
}

button{
    color: white;
}
mat-card-title{
    color: white;
}
mat-card-subtitle{
    color: lightgray;
}