.imageDiv{
    width: 200px;
    height: 200px;
    padding: 10px;
    border-right: 3px solid #1de9b6;
}

.logoFirma{
    width: 100%;
    height: 100%;
}

.firmaDiv{
    width: 100%;
}

.naslovOglasDiv{
    font-size: 30px;
    color: #6B4190;
    width: 100%;
}

.oglasNaslov{
    border-bottom: 3px solid #1de9b6;
}

.oglasTekstNaslov{
    font-size: 30px;
    color: #6B4190;
    border-bottom: 3px solid #1de9b6;
}

.oglasZnanje{
    font-size: 20px;
    color: #6B4190;
}

.firmaTextThing{
    border-bottom: 3px solid #1de9b6;
}

.firmaText{
    font-size: 25px;
    color: #6B4190;
}