<div fxLayout = "column" fxLayoutAlign = "space-around start" fxLayoutGap = "25px">
  <div fxLayout = "row" fxLayoutAlign = "start center" class = "firmaDiv" fxLayoutGap = "8px">
    <div class = "imageDiv">
      <img src = "http://localhost:8080/profilePictures/{{firmaOglas.putDoLogoFirma}}" class = "logoFirma">
    </div>
    <div class = "firmaData">
      <p class = "firmaText"><span class = "firmaTextThing">Naziv firme:</span> {{firmaOglas.imeFirma}}</p>
      <p class = "firmaText"><span class = "firmaTextThing">Telefon:</span> {{firmaOglas.telefonFirma}}</p>
      <p class = "firmaText"><span class = "firmaTextThing">E-mail:</span> {{firmaOglas.emailFirma}}</p>
      <button mat-raised-button color = "accent" (click) = "routeToFirma()">Profil firme</button>
    </div>
  </div>
  <div fxLayout = "row" fxLayoutAlign = "start center" class = "naslovOglasDiv">
    <span class = "oglasNaslov">Naslov oglasa:</span> <span style = "margin-left: 1%">{{oglas.nazivOglasa}}</span>
  </div>
  <div class = "tekstOglasDiv">
    <span class = "oglasTekstNaslov">Tekst oglasa:</span>
    <p style = "font-size: 20px;">{{oglas.tekstOglasa}}</p>
  </div>
  <div class = "znanjaOglasaDiv">
    <span class = "oglasTekstNaslov">Tražena znanja i vještine:</span>
    <ul *ngIf = "oglas.znanja.length > 0">
      <li *ngFor = "let znanje of oglas.znanja" class = "oglasZnanje">{{znanje.imeZnanje}}</li>
    </ul>
    <p *ngIf = "oglas.znanja.length == 0" style = "font-size: 15px; color: red">Ovaj oglas ne traži nikakva znanja niti vještine...</p>
  </div>
  <mat-expansion-panel *ngIf = "isEmployer && prosloVrijeme">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Prijave na oglas
        </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
        <mat-list-item *ngFor = "let korisnik of korisnici">
            {{korisnik.imeKorisnik}} <button mat-flat-button color = "primary" style = "margin-left: 20px;">Skini CV</button>
        </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
  <span *ngIf = "!prosloVrijeme && isEmployer && isMine" style = "color: red">Pregled prijava nije moguć do isteka roka za prijavu! Broj prijava: {{korisnici.length}}</span>
</div>
<div fxLayout = "row" fxLayoutAlign = "center" fxLayoutGap = "20px">
  <button mat-raised-button color = "accent" *ngIf = "!isEmployer && tipOglasa == 'Spremljeni'" (click) = "prijaviOglas()">Prijavi</button>
  <button mat-raised-button color = "warn" *ngIf = "!isEmployer && tipOglasa == 'Spremljeni'" (click) = "removeFromSpremljeni()">Ukloni iz spremljenih</button>
  <button mat-raised-button color = "accent" *ngIf = "!isEmployer && tipOglasa != 'Spremljeni'" (click) = "spremiOglas()">Spremi</button>
  <button mat-raised-button color = "warn" *ngIf = "isEmployer && isMine">Obriši</button>
  <button mat-raised-button color = "primary" (click) = "backClicked()">Natrag</button>
</div>
