<div class = "oglasDiv" fxLayout="column" fxLayoutGap="50px">
    <div class = "oglasTitleDiv" fxLayout = "row" fxLayoutAlign = "space-between center">
        <h1 class = "oglasTitle">{{oglasData.nazivOglasa}}</h1>
        <div class = "oglasFirma">
            <img class = "oglasFirmaImg" src = "http://localhost:8080/profilePictures/{{firmaData.putDoLogoFirma}}">
            <span class = "oglasFirmaText">
                {{firmaData.imeFirma}}
            </span>
        </div>
    </div>
    <div>
        <span class = "oglasText">Tekst oglasa: </span>
        <p>{{oglasData.tekstOglasa}}</p>
    </div>
    <div>
        <span class = "oglasText">Znanja:</span>
        <mat-chip-list>
            <mat-chip color = "primary" *ngFor = "let znanje of oglasData.znanja" selected style = "margin-top: 10px;">
                {{znanje.imeZnanje}}
            </mat-chip>
        </mat-chip-list>
    </div>
    <div fxLayout = "row" fxLayoutAlign = "end">
        <button mat-raised-button color="accent" *ngIf = "tipOglasa == 'Spremljeni'" style = "margin-right: 20px;" (click) = "prijaviOglas()">Prijavi se!</button>
        <button mat-raised-button color="primary" (click) = "onNoClick()">Zatvori</button>
    </div>
</div>
