a {
    text-decoration: none;
    color: white;
}
 
a:hover, a:active{
    color: lightgray;
}
 
.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
 
mat-toolbar{
    border-radius: 0px;
    font-size: 35px;
    height: 10%;
}

button{
    margin-right: 10px;
}

.prijavaSpan{
    text-decoration: underline;
    cursor: pointer;
}

.prijavaSpan:hover, .prijavaSpan:active{
    color: lightgray;
}

.loginForm {
    min-width: 150px;
    max-width: 350px;
    width: 100%;
    border: 3px solid #8e24aa;
    padding: 10px;
    display: inline-block;
  }
  
  .loginForm-width {
    width: 100%;
  }
.signupThing{
    color: #8e24aa;
    font-size: 20px;
}
.signupPrompt{
    cursor: pointer;
    outline: none;
}
.signupPrompt:hover{
    color: #6f1f85
}

.loginDiv{
    width: 22%;
    right: 0;
    height: 30%;
    position: absolute;
}
 
@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}