<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/home">JobRadar</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <span class = "prijavaSpan" (click) = "toggleLogin()" *ngIf = "!logiran">Prijava/Registracija</span>
                <app-loggedin *ngIf = "logiran"></app-loggedin>
            </li>
        </ul>
    </div>
</mat-toolbar>
<div *ngIf = "loginToggle" fxLayoutAlign="end" class = "loginDiv">
    <form class = "loginForm">
        <mat-form-field class = "loginForm-width">
            <input matInput placeholder = "Email..." [formControl]="emailFormControl">
            <mat-error *ngIf = "emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Unesite valjanu e-mail adresu
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                Potrebno je unijeti e-mail adresu
            </mat-error>
            <mat-error *ngIf = "existingEmailError">Nepostojeći e-mail</mat-error>
        </mat-form-field>
        <mat-form-field class = "loginForm-width">
            <input matInput placeholder = "Lozinka..." [formControl] = "passFormControl" type = "password">
            <mat-error *ngIf = "passFormControl.hasError('required')">Potrebno je unijeti lozinku</mat-error>
            <mat-error *ngIf = "wrongPasswordError">Kriva lozinka</mat-error>
        </mat-form-field><br>
        <button mat-flat-button color="primary" (click) = "login()">Login</button>
        <button mat-flat-button color="accent" (click) = "toggleLogin()">Cancel</button>
        <p class = "signupThing">Nemaš račun? <span class = "signupPrompt" routerLink ="/signuppage" (click) = "toggleLogin()"><b>Kreiraj ga!</b></span></p>
    </form>
</div>