<div class = "signupChoose">
  <span class = "chooserQ">Tražite posao ili ste poslodavac?</span>
  <button mat-flat-button color="primary" routerLink = "/usersignuppage">Tražim posao</button>
  <button mat-flat-button color="primary" routerLink = "/employersignuppage">Poslodavac</button>
  <button mat-flat-button color="accent" routerLink = "/home">Natrag</button>
</div>