.signupChoose{
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 15%;
    display: flex;
    justify-content: space-around;
}

.chooserQ{
    font-size: 50px;
    font-family: 'Segoe UI';
    color: #6B4190;
}
button{
    margin-left: 20px;
    cursor: pointer;
    outline: none;
    font-size: 20px;
    text-align: center;
}