.profileImage{
    width: 100%;
    height: 100%;
    display: block;
}
.profileImageDiv{
    width: 200px;
    height: 200px;
    padding: 10px;
    border-right: 3px solid #1de9b6;
}

.profileImageFirmaDiv{
    width: 200px;
    height: 200px;
    padding: 10px;
}

.profileImageFirma{
    width: 100%;
    height: 100%;
    display: block;
}

.userDataText{
    font-size: 20px;
    color: #6B4190;
}

.userDataTextFirma{
    font-size: 20px;
    color: #6B4190;
}

.dataButton{
    margin-left: 20px;
}

.soSelect{
    margin-left: 20px;
}

button{
    margin-top: 10px;
    margin-right: 10px;
}

.noviOglasDiv{
    margin-top: 2%;
    font-size: 20px;
}

.noviOglasForm{
    min-width: 150px;
    max-width: 800px;
    padding: 10px;
    margin: 0;
    width: 100%;
}

.oglasFormTitle{
    font-size: 30px;
    color: #6B4190;
}

.oglasFormText{
    color: #6B4190;
    font-size: 20px;
}

.formButton{
    margin-right: 10px;
    font-size: 20px;
}

.oglasForm-width{
    width: 100%;
}

.oglasCard{
    min-width: 150px;
    max-width: 200px;
}

.oglasText{
    word-wrap: break-word;
}

/*
mat-expansion-panel-header{
    background: #6B4190;
}
mat-panel-title{
    color: whitesmoke;
}*/