<div fxLayout = "column" fxLayoutGap = "40px">
    <div fxLayout = "row" fxLayoutGap = "10px">
            <div class = "profileImageDiv">
                <img src = 'http://localhost:8080/profilePictures/{{user.putDoProfilne}}' class = "profileImage" id = "profileImage"><br>
                <input type="file" class = "pictureUpload" style = "display:none;" #file (change)="fileChange($event)">
                <button type="button" mat-flat-button color="primary" (click)="file.click()">Promijeni sliku</button>
            </div>
                
            <div class = "userDataDiv" *ngIf = "user">
                <span class = "userDataText">Ime: {{user.imeKorisnik}}</span><br>
                <span class = "userDataText">Prezime: {{user.prezimeKorisnik}}</span><br>
                <span class = "userDataText">E-mail: {{user.emailKorisnik}}</span><br>
                <span class = "userDataTextFirma">Firma: <b (mouseenter)="mouseHovering()" (mouseleave)="mouseLeft()">{{firma.imeFirma}}</b></span>
            </div>
            <div class = "profileImageFirmaDiv" id ="firmaDiv" *ngIf = "isHovering">
              <mat-card class = "firma-card">
                <mat-card-header>
                  <mat-card-title>{{firma.imeFirma}}</mat-card-title>
                </mat-card-header>
                <img src = 'http://localhost:8080/profilePictures/{{firma.putDoLogoFirma}}' style = "width:100px;height:100px;">
                <mat-card-content>
                  <p>E-mail: {{firma.emailFirma}}</p>
                  <p>Telefon: {{firma.telefonFirma}}</p>
                </mat-card-content>
              </mat-card>
            </div>       
    </div>
    <div>
        <mat-tab-group mat-align-tabs="center" animationDuration="0ms" color = "accent">
            <mat-tab label = "Objavljeni oglasi">
                <div fxLayout = "row wrap" class = "objavljeniOglasiDiv" fxLayoutAlign="start" fxLayoutGap = "20px" *ngIf = "objavljeniOglasi" style="margin-top: 20px;">
                  <mat-card *ngFor = "let oglas of objavljeniOglasi" class = "oglasCard">
                    <mat-card-header>
                      <mat-card-title>{{oglas.nazivOglasa}}</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src = "http://localhost:8080/profilePictures/{{firma.putDoLogoFirma}}" style = "width:200px;height:200px;margin:auto">
                    <mat-card-content>
                      <p class = "oglasText">{{oglas.tekstOglasa}}</p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button color= "primary" (click) = "openOglas(oglas)">Pogledaj</button>
                      <button mat-button color= "warn">Obriši</button>
                    </mat-card-actions>
                  </mat-card>
                </div>
            </mat-tab>
            <mat-tab label = "Novi oglas">
              <div class = "noviOglasDiv" fxLayoutAlign = "center center">
                <form class = "noviOglasForm" [formGroup] = "noviOglasFG">
                  <span class = "oglasFormTitle">Napravite novi oglas!</span><br>
                  <mat-form-field class = "oglasForm-width">
                    <input matInput placeholder = "Unesite naziv oglasa" autocomplete="off" formControlName = "nazivOglasa">
                    <mat-error *ngIf = "hasError('nazivOglasa', 'required')">Potrebno je unijeti naziv oglasa</mat-error>
                  </mat-form-field><br>
                  <mat-form-field class = "oglasForm-width">
                    <input matInput [matDatepicker] = "oglasPicker" placeholder="Odaberite datum roka" formControlName = "datumRoka">
                    <mat-datepicker-toggle matSuffix [for]="oglasPicker"></mat-datepicker-toggle>
                    <mat-datepicker #oglasPicker></mat-datepicker>
                    <mat-error *ngIf = "hasError('datumRoka', 'required')">Potrebno je odabrati datum roka</mat-error>
                  </mat-form-field><br>
                  <mat-form-field class = "oglasForm-width">
                    <textarea matInput formControlName = "tekstOglasa" placeholder="Unesite tekst oglasa" matTextareaAutosize matAutosizeMinRows=1 matAutosizeMaxRows=7></textarea>
                    <mat-error *ngIf = "hasError('tekstOglasa', 'required')">Potrebno je unijeti tekst oglasa</mat-error>
                  </mat-form-field><br>
                  <mat-form-field class = "oglasForm-width">
                    <input matInput type = "text" placeholder = "Odaberite vještine koje oglas zahtjeva" formControlName = "znanjaOglasa" [matAutocomplete] = "auto">
                    <mat-autocomplete #auto = "matAutocomplete">
                      <mat-option *ngFor = "let znanje of filteredZnanja | async" [value] = "znanje.imeZnanje" (click) = "addZnanje(znanje)">
                        {{znanje.imeZnanje}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                  <span class = "oglasFormText">
                    Odabrano:
                  </span>
                  <mat-chip-list *ngIf = "odabranaZnanja.length > 0">
                      <mat-chip color="primary" *ngFor = "let znanje of odabranaZnanja" selected style = "margin-top: 10px;" (click) = "removeZnanje(znanje)">{{znanje.imeZnanje}}</mat-chip>
                    </mat-chip-list><br>
                  <button mat-flat-button color="primary" (click) = "onSubmit()" [disabled] = "!noviOglasFG.valid" class = "formButton">Objavi</button>
                  <button mat-flat-button color="accent" (click) = "resetForm()" class = "formButton">Poništi</button>
                </form>
              </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>