.oglasDiv{
    overflow-y: hidden !important;
    overflow-x: hidden !important;
    padding: 10px;
    width: 100%;
}
.oglasTitleDiv{
    width: 100%;
}

.oglasFirmaText{
    color: #6B4190;
    font-size: 30px;
}

.oglasText{
    color: #6B4190;
    font-size: 25px;
}

p{
    font-size: 20px;
}

.oglasFirmaImg{
    height: 50px;
    width: 50px;
}