<div fxLayout = "column" fxLayoutAlign = "center" fxLayoutGap = "20px">
  <div fxLayout = "row" fxLayoutAlign = "start center" class = "firmaDiv" fxLayoutGap = "8px">
    <div class = "imageDiv">
      <img src = "http://localhost:8080/profilePictures/{{firma.putDoLogoFirma}}" class = "logoFirma">
    </div>
    <div class = "firmaData">
      <p class = "firmaText"><span class = "firmaTextThing">Naziv firme:</span> {{firma.imeFirma}}</p>
      <p class = "firmaText"><span class = "firmaTextThing">Telefon:</span> {{firma.telefonFirma}}</p>
      <p class = "firmaText"><span class = "firmaTextThing">E-mail:</span> {{firma.emailFirma}}</p>
      <p class = "firmaText"><span class = "firmaTextThing">Ocjena:</span> {{ocjenaFirma}}</p>
    </div>
  </div>
  <div>
    <mat-tab-group mat-align-tabs="center" animationDuration="0ms" color = "accent">
      <mat-tab label = "Aktualni oglasi">
        <div fxLayout = "row wrap" class = "objavljeniOglasiDiv" fxLayoutAlign="start" fxLayoutGap = "20px" *ngIf = "allOglasi.length > 0" style="margin-top: 20px;">
          <div *ngFor = "let oglas of allOglasi">
            <mat-card class = "oglasCard">
              <mat-card-header>
                <mat-card-title>{{oglas.nazivOglasa}}</mat-card-title>
              </mat-card-header>
              <img mat-card-image src = "http://localhost:8080/profilePictures/{{firma.putDoLogoFirma}}" style = "width:200px;height:200px;margin-left: 15%">
              <mat-card-content>
                <p class = "oglasText">{{oglas.tekstOglasa}}</p>
                <p style = "font-size: 10px; color: gray">Datum roka: {{oglas.datumRoka}}</p>
                <p style = "font-size: 10px; color: gray"> Datum objave: {{oglas.datumObjave}}</p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-raised-button color= "primary" (click) = "openOglas(oglas)">Pogledaj</button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </mat-tab>
      <mat-tab label = "Komentari i ocjenjivanje">
        <div fxLayout = "column" fxLayoutAlign = "center" fxLayoutGap = "20px">
          <div class = "ocjenaDiv">
            <mat-form-field fxLayoutAlign = "center" style = "margin-left: 3%">
              <mat-label>Ocjeni</mat-label>
              <mat-select [(ngModel)] = "ocjena" [disabled] = "isEmployer || vecOcjenjen || !jeLogiran">
                  <mat-option value="1" (click) = "ocjeni()">1</mat-option>
                  <mat-option value="2" (click) = "ocjeni()">2</mat-option>
                  <mat-option value="3" (click) = "ocjeni()">3</mat-option>
                  <mat-option value="4" (click) = "ocjeni()">4</mat-option>
                  <mat-option value="5" (click) = "ocjeni()">5</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxLayoutAlign = "center">
            <div class = "newCommentDiv" fxLayout = "column" fxLayoutAlign = "center" style = "width: 50%">
              <span class = "newCommentTitle" *ngIf = "!vecKomentirao">Novi komentar</span><br>
              <mat-form-field *ngIf = "!vecKomentirao">
                <textarea matInput [disabled] = "isEmployer || !jeLogiran" placeholder = "Napišite novi komentar..." [formControl] = "textAreaInput"></textarea><br> 
              </mat-form-field>
              <span style = "color: red" *ngIf = "vecKomentirao">Već ste komentirali na profilu ovog poslodavca...</span>
              <div>
                <button mat-raised-button *ngIf = "!vecKomentirao" color = "primary" style = "margin-right: 2%" (click) = "publishComment()">Objavi komentar</button>
                <button mat-raised-button *ngIf = "!vecKomentirao" color = "accent" (click) = "noComment()">Odustani</button>
              </div>
            </div>
          </div>
            <div class = "komentariDiv" fxLayoutAlign = "center">
              <mat-card class = "komentarCard" *ngFor = "let komentar of sviKomentari">
                <mat-card-header>
                  <mat-card-title>{{komentar.korisnik.imeKorisnik}} {{komentar.korisnik.prezimeKorisnik}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>{{komentar.tekstKomentara}}</p>
                  <p>{{komentar.datumKomentara}}</p>
                </mat-card-content>
              </mat-card>
            </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
