.imageDiv{
    width: 200px;
    height: 200px;
    padding: 10px;
    border-right: 3px solid #1de9b6;
}

.logoFirma{
    width: 100%;
    height: 100%;
}

.firmaDiv{
    width: 100%;
}
.firmaTextThing{
    border-bottom: 3px solid #1de9b6;
}

.firmaText{
    font-size: 25px;
    color: #6B4190;
}

.oglasCard{
    width: 300px;
    height: auto;
}

.oglasText{
    height: 60px;
    line-height: 20px;
    overflow: hidden;
    word-wrap: break-word;
}

.oglasDiv{
    width: 100%;
}

.komentarCard{
    width: 70%;
}