<div class = "homeDiv" fxLayout = "column" fxLayoutGap = "20px"  fxLayoutAlign="space-around center">
    <div class = "homeSearchDiv">
        <form class = "searchForm">
            <mat-form-field class = "search-width">
                <input matInput placeholder = "Pretraži oglase..." autocomplete="off" [formControl] = "searchTerm" (keyup.enter) = "search()">
            </mat-form-field>
        </form>
        <mat-radio-group [(ngModel)] = "searchFilter">
            <mat-radio-button class = "searchRadio" value = "naziv" color = "primary">Naziv</mat-radio-button>
            <mat-radio-button class = "searchRadio" value = "text" color = "primary">Tekst</mat-radio-button>
            <mat-radio-button class = "searchRadio" value = "vjestine" color = "primary">Vještine</mat-radio-button>
        </mat-radio-group>
        <mat-radio-group [(ngModel)] = "searchScope" style = "margin-left: 5%">
            <mat-radio-button class = "searchRadio" value = "mojiOglasi" color = "accent" [disabled] = "isUserLoggedIn == false" (click) = "changeScope()">Zadovoljeni uvjeti</mat-radio-button>
            <mat-radio-button class = "searchRadio" value = "sviOglasi" color = "accent" (click)= "changeScope()">Svi oglasi</mat-radio-button>
        </mat-radio-group>
    </div>
    <div style = "width: 100%">
        <mat-form-field fxLayoutAlign = "start" style = "margin-left: 3%">
            <mat-label>Sortiraj</mat-label>
            <mat-select [(ngModel)] = "sortMode">
                <mat-option value="naslov" (click) = "sort()">Naslov oglasa</mat-option>
                <mat-option value="datumObjava" (click) = "sort()">Datum objave</mat-option>
                <mat-option value="datumRok" (click) = "sort()">Datum roka</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class = "homeOglasiDiv" fxLayout = "row wrap" fxLayoutAlign="center" fxLayoutGap = "20px" *ngIf = "searchOglasi">
        <div *ngFor = "let oglas of searchOglasi | paginate: { itemsPerPage: pageSize, currentPage: page}">
            <mat-card class = "oglasCard">
                <mat-card-header>
                    <mat-card-title>{{oglas.nazivOglasa}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image src = "http://localhost:8080/profilePictures/{{oglas.putDoLogoFirma}}" style = "width:200px;height:200px;margin-left: 15%">
                <mat-card-content>
                    <p class = "oglasText">{{oglas.tekstOglasa}}</p>
                    <p style = "font-size: 10px; color: gray">Datum roka: {{oglas.datumRoka}}</p>
                    <p style = "font-size: 10px; color: gray">Datum objave: {{oglas.datumObjave}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <div>
                        <button mat-raised-button color= "primary" (click) = "openOglas(oglas)">Pogledaj</button>
                        <button mat-button color= "primary" (click) = "spremiOglas(oglas)">Spremi</button>
                        <button mat-button color = "accent" (click) = "prijaviOglas(oglas)">Prijavi se</button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <div>
        <pagination-controls (pageChange) = "page = $event" class = "my-pagination"></pagination-controls>
    </div>
</div>