.homeSearchDiv{
    width: 40%;
    font-size: 25px;
}
.search-width{
    width: 100%;
}

.oglasCard{
    width: 300px;
    height: auto;
    margin-top: 20px;
    
}

.searchRadio{
    font-size: 15px;
    margin-right: 3%;
}

.oglasText{
    height: 60px;
    line-height: 20px;
    overflow: hidden;
    word-wrap: break-word;
}
.my-pagination /deep/ .ngx-pagination .current {
    background: #6B4190;
  }