<div class = "oglasDiv">
    <h1 mat-dialog-title class = "oglasTitle">{{oglasData.nazivOglasa}} 
        <span class = "firmaSpan">
            <img class = "firmaImg" src = "http://localhost:8080/profilePictures/{{firmaData.putDoLogoFirma}}">
            {{firmaData.imeFirma}}
        </span>
    </h1>
    <div mat-dialog-content>
        <span class = "oglasText">Tekst oglasa:</span>
        <p>{{oglasData.tekstOglasa}}</p>
        <span class = "oglasText">Znanja:</span>
        <mat-chip-list>
            <mat-chip color = "primary" *ngFor = "let znanje of oglasData.znanja" selected style = "margin-top: 10px;">
                {{znanje.imeZnanje}}
            </mat-chip>
        </mat-chip-list>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary" (click) = "onNoClick()">Zatvori</button>
    </div>
</div>

this is a test of this

<span class=oglasText>this is a test</span>