<mat-card class = "profileCard"  color = "primary">
  <mat-card-title-group>
    <div mat-card-avatar class = "profileCardImage" [style] = "getBackgroundImg()"></div>
    <mat-card-title>{{korisnik.imeKorisnik}}</mat-card-title>
    <mat-card-subtitle>{{korisnik.emailKorisnik}}</mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-actions>
    <button mat-button routerLink = "/profile" *ngIf = "!isEmployer">Profil</button>
    <button mat-button routerLink = "/employerprofile" *ngIf = "isEmployer">Profil</button>    
    <button mat-button (click) = "odjava()" color = "accent">Odjava</button>
  </mat-card-actions>
</mat-card>