.profileCard{
    width: auto;
    height: auto;
    margin-right: 30px;
    margin-top: 30%;
}
.profileCardImage{
    background-size: cover;
}

mat-card{
    background-color: #8e24aa;
}

button{
    color: white;
}
mat-card-title{
    color: white;
}
mat-card-subtitle{
    color: lightgray;
}