.userSignupDiv{
    margin-top: 5%;
    font-size: 20px;
    position: relative;
}
.userSignupForm{
    min-width: 150px;
    max-width: 500px;
    padding: 10px;
    margin: 0;
}

.signupForm-width{
    width: 100%;
}

.formTitle{
    font-size: 50px;
    color: #6B4190;
    text-align: center;
}

button{
    margin-right: 10px;
    font-size: 20px;
}

.fileUploadText{
    color: #6B4190;
}
