<div fxLayout = "column" fxLayoutGap = "40px">
    <div fxLayout = "row" fxLayoutGap = "10px">
            <div class = "profileImageDiv">
                <img src = 'http://localhost:8080/profilePictures/{{user.putDoProfilne}}' class = "profileImage" id = "profileImage"><br>
                <input type="file" class = "pictureUpload" style = "display:none;" #file (change)="fileChange($event)" accept = "image/*">
                <button type="button" mat-flat-button color="primary" (click)="file.click()">Promijeni sliku</button>
            </div>
                
            <div class = "userDataDiv" *ngIf = "user">
                <span class = "userDataText">Ime: {{user.imeKorisnik}}</span><br>
                <span class = "userDataText">Prezime: {{user.prezimeKorisnik}}</span><br>
                <span class = "userDataText">E-mail: {{user.emailKorisnik}}</span><br>
                <span class="userDataText" *ngIf = "user.stupanjObrazovanja">Stupanj obrazovanja:
                    <span class = "userSO" *ngIf = "soHidden && user.stupanjObrazovanja">{{user.stupanjObrazovanja.imeStupanj}} </span>
                </span>
                <span matBadge = "!" *ngIf = "!user.stupanjObrazovanja" matBadgePosition = "above after" matBadgeColor = "warn" class = "userDataText">Stupanj obrazovanja:</span>
                <mat-form-field class = "soSelect" *ngIf = "!soHidden && stupnjeviObrazovanja">
                    <mat-select placeholder="Odaberite stupanj obrazovanja">
                        <mat-option value ="stupanj" *ngFor = "let stupanj of stupnjeviObrazovanja" (click) = "changeStupanj(stupanj)">
                            {{stupanj.imeStupanj}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-flat-button color="accent" (click) = "revertSO()" *ngIf = "!soHidden" class = "dataButton">Natrag</button>
                <button mat-flat-button color="primary" (click) = "changeSO()" *ngIf = "soHidden" class = "dataButton">Uredi</button><br>
                <span class = "userDataText" *ngIf = "user.znanja.length > 0">Znanja i vještine: <br></span>
                <span class = "userDataText" matBadge = "!" *ngIf = "!(user.znanja.length > 0)" matBadgePosition = "above after" matBadgeColor = "warn">Znanja i vještine: <br></span>
                <mat-chip-list>
                    <mat-chip color = "primary" *ngFor = "let znanje of user.znanja" selected style = "margin-top: 10px;">
                        {{znanje.imeZnanje}}
                    </mat-chip>
                </mat-chip-list><br>
                <input type="file" class = "cvupload" style = "display:none;" #fileCV (change)="fileChangeCV($event)" accept = "application/pdf">
                <button mat-raised-button color = "accent" (click) = "fileCV.click()" style = "color: black">Upload CV</button>
                <button mat-raised-button color = "accent"><a href="http://localhost:8080/pdfCVs/{{user.emailKorisnik}}.pdf" target="_blank" style = "text-decoration: none; color: black">Download CV</a></button>
            </div>           
    </div>
    <div>
        <mat-tab-group mat-align-tabs="center" animationDuration="0ms" color = "accent">
            <mat-tab label = "Spremljeni oglasi">
                <div fxLayout = "row wrap" class = "objavljeniOglasiDiv" fxLayoutAlign="start" fxLayoutGap = "20px" *ngIf = "spremljeniOglasi" style="margin-top: 20px;">
                    <mat-card *ngFor = "let oglas of spremljeniOglasi" class = "oglasCard">
                      <mat-card-header>
                        <mat-card-title>{{oglas.nazivOglasa}}</mat-card-title>
                      </mat-card-header>
                      <img mat-card-image src = "http://localhost:8080/profilePictures/{{oglas.putDoLogoFirma}}" style = "width:200px;height:200px;margin-left: 15%">
                      <mat-card-content>
                        <p class = "oglasText">{{oglas.tekstOglasa}}</p>
                        <p style = "font-size: 10px; color: gray">Datum roka: {{oglas.datumRoka}}</p>
                        <p style = "font-size: 10px; color: gray">Datum objave: {{oglas.datumObjave}}</p>
                      </mat-card-content>
                      <mat-card-actions>
                        <button mat-raised-button color= "primary" (click) = "openOglasSpremljeni(oglas)">Pogledaj</button>
                        <button mat-raised-button color= "warn" (click) = "removeOglasFromSpremljeni(oglas)">Ukloni</button>
                      </mat-card-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label = "Prijavljeni oglasi">
                <div fxLayout = "row wrap" class = "objavljeniOglasiDiv" fxLayoutAlign="start" fxLayoutGap = "20px" *ngIf = "prijavljeniOglasi" style="margin-top: 20px;">
                    <mat-card *ngFor = "let oglas of prijavljeniOglasi" class = "oglasCard">
                        <mat-card-header>
                        <mat-card-title>{{oglas.nazivOglasa}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src = "http://localhost:8080/profilePictures/{{oglas.putDoLogoFirma}}" style = "width:200px;height:200px;margin-left: 15%">
                        <mat-card-content>
                        <p class = "oglasText">{{oglas.tekstOglasa}}</p>
                        <p style = "font-size: 10px; color: gray">Datum roka: {{oglas.datumRoka}}</p>
                        <p style = "font-size: 10px; color: gray">Datum objave: {{oglas.datumObjave}}</p>
                        </mat-card-content>
                        <mat-card-actions>
                        <button mat-raised-button color= "primary" (click) = "openOglasPrijavljeni(oglas)">Pogledaj</button>
                        <button mat-raised-button color="warn" (click) = odjaviOglas(oglas) *ngIf = "!oglas.prosaoRok">Odjavi oglas</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label = "Znanja i vještine">
                <mat-accordion>
                    <mat-expansion-panel *ngFor = "let kategorija of allKategorije">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{kategorija.imeKategorija}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-selection-list #znanja>
                            <mat-list-option checkboxPosition = "before" *ngFor = "let znanje of getZnanja(kategorija)" (click) = "addZnanje(znanje)" [selected] = "isAlreadyIn(znanje)">
                                {{znanje.imeZnanje}}
                            </mat-list-option>
                        </mat-selection-list>
                    </mat-expansion-panel>
                </mat-accordion>
                <div class = "buttons" fxLayoutAlign="center center">
                    <button mat-flat-button (click) = "saveChanges()" color = "primary" [disabled] = "!baremJednaPromjena">Spremi promjene</button>
                    <button mat-flat-button (click) = "cancel()" color = "accent">Poništi</button>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>