.profileImage{
    width: 100%;
    height: 100%;
    display: block;
}
.profileImageDiv{
    width: 200px;
    height: 200px;
    padding: 10px;
    border-right: 3px solid #1de9b6;
}

.userDataText{
    font-size: 20px;
    color: #6B4190;
}

.dataButton{
    margin-left: 20px;
}

.soSelect{
    margin-left: 20px;
}

button{
    margin-top: 10px;
    margin-right: 10px;
}

.oglasCard{
    width: 300px;
    height: auto;
}

.oglasText{
    height: 60px;
    line-height: 20px;
    overflow: hidden;
    word-wrap: break-word;
}


/*
mat-expansion-panel-header{
    background: #6B4190;
}
mat-panel-title{
    color: whitesmoke;
}*/