<div fxLayout = "column" fxLayoutGap = "40px">
    <div fxLayout = "row" fxLayoutGap = "10px">
            <div class = "profileImageDiv">
                <img src = 'http://localhost:8080/profilePictures/{{user.putDoProfilne}}' class = "profileImage" id = "profileImage"><br>
                <input type="file" class = "pictureUpload" style = "display:none;" #file (change)="fileChange($event)">
                <button type="button" mat-flat-button color="primary" (click)="file.click()">Promijeni sliku</button>
            </div>
                
            <div class = "userDataDiv" *ngIf = "user">
                <span class = "userDataText">Ime: {{user.imeKorisnik}}</span><br>
                <span class = "userDataText">Prezime: {{user.prezimeKorisnik}}</span><br>
                <span class = "userDataText">E-mail: {{user.emailKorisnik}}</span><br>
                <span class = "userDataTextFirma">Firma: <b (mouseenter)="mouseHovering()" (mouseleave)="mouseLeft()">{{firma.imeFirma}}</b></span>
            </div>
            <div class = "profileImageFirmaDiv" id ="firmaDiv" *ngIf = "isHovering">
              <mat-card class = "firma-card">
                <mat-card-header>
                  <mat-card-title>{{firma.imeFirma}}</mat-card-title>
                </mat-card-header>
                <img src = 'http://localhost:8080/profilePictures/{{firma.putDoLogoFirma}}' style = "width:100px;height:100px;">
                <mat-card-content>
                  <p>E-mail: {{firma.emailFirma}}</p>
                  <p>Telefon: {{firma.telefonFirma}}</p>
                </mat-card-content>
              </mat-card>
            </div>       
    </div>
    <div>
        <mat-tab-group mat-align-tabs="center" animationDuration="0ms" color = "accent">
            <mat-tab label = "Objavljeni oglasi">
                <div fxLayout = "row wrap" class = "objavljeniOglasiDiv" fxLayoutAlign="start" fxLayoutGap = "20px" *ngIf = "objavljeniOglasi" style="margin-top: 20px;">
                  <div *ngFor = "let oglas of objavljeniOglasi">
                    <mat-card class = "oglasCard" *ngIf = "oglas.aktivan">
                      <mat-card-header>
                        <mat-card-title>{{oglas.nazivOglasa}}</mat-card-title>
                      </mat-card-header>
                      <img mat-card-image src = "http://localhost:8080/profilePictures/{{firma.putDoLogoFirma}}" style = "width:200px;height:200px;margin-left: 15%">
                      <mat-card-content>
                        <p class = "oglasText">{{oglas.tekstOglasa}}</p>
                        <p style = "font-size: 10px; color: gray">Datum roka: {{oglas.datumRoka}}</p>
                        <p style = "font-size: 10px; color: gray"> Datum objave: {{oglas.datumObjave}}</p>
                      </mat-card-content>
                      <mat-card-actions>
                        <button mat-raised-button color= "primary" (click) = "openOglas(oglas)">Pogledaj</button>
                        <button mat-raised-button color= "warn" (click) = "removeOglas(oglas)">Obriši</button>
                      </mat-card-actions>
                    </mat-card>
                  </div>
                </div>
            </mat-tab>
            <mat-tab label = "Oglasi za uređivanje">
              <div fxLayout = "row wrap" class = "objavljeniOglasiDiv" fxLayoutAlign="start" fxLayoutGap = "20px" *ngIf = "oglasiInEditing.length > 0" style="margin-top: 20px;">
                  <mat-card *ngFor = "let oglas of oglasiInEditing" class = "oglasCard">
                    <mat-card-header>
                      <mat-card-title>{{oglas.nazivOglasa}}</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src = "http://localhost:8080/profilePictures/{{firma.putDoLogoFirma}}" style = "width:200px;height:200px;margin-left: 15%">
                    <mat-card-content>
                      <p class = "oglasText">{{oglas.tekstOglasa}}</p>
                      <p style = "font-size: 10px; color: gray">Datum roka: {{oglas.datumRoka}}</p>
                      <p style = "font-size: 10px; color: gray"> Datum objave: {{oglas.datumObjave}}</p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-raised-button color= "primary" (click) = "openOglas(oglas)">Pogledaj</button>
                      <button mat-raised-button color= "warn" (click) = "removeOglas(oglas)">Obriši</button>
                    </mat-card-actions>
                  </mat-card>
                </div>
                <span style = "font-size: 20px; color: red" *ngIf = "oglasiInEditing.length == 0">Nemate oglasa spremljenih za uređivanje.</span>
            </mat-tab>
            <mat-tab label = "Oglas">
              <div fxLayout = "column" fxLayoutAlign = "space-around center" fxLayoutGap = "20px" class = "oglasDiv">
                <div class = "searchDiv" style = "width: 25%;">
                  <mat-form-field class = "searchInput">
                    <input matInput placeholder = "Pretraži..." autocomplete = "off" [formControl] = "searchTerm" (keyup.enter) = "searchAndFill()">
                  </mat-form-field>
                  <mat-radio-group [(ngModel)] = "searchFilter">
                      <mat-radio-button class = "searchRadio" value = "naziv" color = "primary">Naziv</mat-radio-button>
                      <mat-radio-button class = "searchRadio" value = "text" color = "primary">Tekst</mat-radio-button>
                      <mat-radio-button class = "searchRadio" value = "vjestine" color = "primary">Vještine</mat-radio-button>
                  </mat-radio-group>
                </div>
                <div class = "noviOglasDiv" fxLayoutAlign = "center center">
                    <form class = "noviOglasForm" [formGroup] = "noviOglasFG">
                      <span class = "oglasFormTitle">Oglas</span><br>
                      <mat-form-field class = "oglasForm-width">
                        <input matInput placeholder = "Naziv oglasa" autocomplete="off" formControlName = "nazivOglasa">
                        <mat-error *ngIf = "hasError('nazivOglasa', 'required')">Potrebno je unijeti naziv oglasa</mat-error>
                      </mat-form-field><br>
                      <mat-form-field class = "oglasForm-width">
                        <input matInput [matDatepicker] = "oglasPicker" placeholder="Datum roka" formControlName = "datumRoka">
                        <mat-datepicker-toggle matSuffix [for]="oglasPicker"></mat-datepicker-toggle>
                        <mat-datepicker #oglasPicker></mat-datepicker>
                        <mat-error *ngIf = "hasError('datumRoka', 'required')">Potrebno je odabrati datum roka</mat-error>
                      </mat-form-field><br>
                      <mat-form-field class = "oglasForm-width">
                        <textarea matInput formControlName = "tekstOglasa" placeholder="Tekst oglasa" matTextareaAutosize matAutosizeMinRows=1 matAutosizeMaxRows=7></textarea>
                        <mat-error *ngIf = "hasError('tekstOglasa', 'required')">Potrebno je unijeti tekst oglasa</mat-error>
                      </mat-form-field><br>
                      <mat-form-field class = "oglasForm-width">
                        <input matInput type = "text" placeholder = "Vještine koje oglas zahtjeva" formControlName = "znanjaOglasa" [matAutocomplete] = "auto">
                        <mat-autocomplete #auto = "matAutocomplete">
                          <mat-option *ngFor = "let znanje of filteredZnanja | async" [value] = "znanje.imeZnanje" (click) = "addZnanje(znanje)">
                            {{znanje.imeZnanje}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                      <span class = "oglasFormText">
                        Odabrano:
                      </span>
                      <ul *ngIf = "odabranaZnanja.length > 0">
                          <li color="primary" *ngFor = "let znanje of odabranaZnanja" style = "color: #6B4190; margin-top: 10px;">{{znanje.imeZnanje}} <button mat-raised-button color = "warn" (click) = "removeZnanje(znanje)">Ukloni</button></li>
                      </ul><br>
                      <div fxLayout = "row" fxLayoutAlign = "space-between">
                        <div>
                          <button mat-flat-button color="primary" (click) = "onSubmit()" [disabled] = "!noviOglasFG.valid" class = "formButton" *ngIf = "!searchToggled">Objavi</button>
                          <button mat-flat-button color="primary" (click) = "saveForEdit()" class = "formButton" *ngIf = "!searchToggled">Spremi za uređivanje</button>
                          <button mat-flat-button color="primary" (click) = "publishSaved()" class = "formButton" *ngIf = "searchToggled">Objavi</button>
                          <button mat-flat-button color="primary" (click) = "saveEdits()" class = "formbutton" *ngIf = "searchToggled">Spremi promjene</button>
                          <button mat-flat-button color="warn" (click) = "deleteOglas()" class="formButton" *ngIf = "searchToggled">Obriši oglas</button>
                          <button mat-flat-button color="accent" (click) = "resetForm()" class = "formButton">Poništi</button>
                        </div>
                        <div *ngIf = "searchToggled">
                          <button mat-raised-button color = "primary" (click) = "oglasEditPrev()" class = "formButton" [disabled] = "oglasIndex == 0"><</button>
                          {{oglasIndex + 1}}/{{searchOglasi.length}}
                          <button mat-raised-button color = "primary" (click) = "oglasEditNext()" class = "formButton" [disabled] = "oglasIndex == searchOglasi.length - 1">></button>
                        </div>
                      </div>
                      
                    </form>
                  </div>
              </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>