.homeSearchDiv{
    width: 35%;
    font-size: 25px;
}
.search-width{
    width: 100%;
}

.oglasCard{
    min-width: 150px;
    max-width: 300px;
    height: 100%;
    margin-top: 20px;
}

.searchRadio{
    font-size: 15px;
    margin-right: 3%;
}

.oglasText{
    word-wrap: break-word;
}
.my-pagination /deep/ .ngx-pagination .current {
    background: #6B4190;
  }