<div class = "homeDiv" fxLayout = "column" fxLayoutGap = "20px"  fxLayoutAlign="space-around center">
    <div class = "homeSearchDiv">
        <form class = "searchForm">
            <mat-form-field class = "search-width">
                <input matInput placeholder = "Pretraži oglase..." autocomplete="off" [formControl] = "searchTerm" (keyup.enter) = "search()">
            </mat-form-field>
        </form>
        <mat-radio-group [(ngModel)] = "searchFilter">
            <mat-radio-button class = "searchRadio" value = "naziv" color = "primary">Naziv</mat-radio-button>
            <mat-radio-button class = "searchRadio" value = "text" color = "primary">Tekst</mat-radio-button>
            <mat-radio-button class = "searchRadio" value = "vjestine" color = "primary">Vještine</mat-radio-button>
        </mat-radio-group>
    </div>
    <div class = "homeOglasiDiv" fxLayout = "row wrap" fxLayoutAlign="start" fxLayoutGap = "20px" *ngIf = "sviOglasi">
        <mat-card *ngFor = "let oglas of searchOglasi | paginate: { itemsPerPage: pageSize, currentPage: page}" class = "oglasCard">
            <mat-card-header>
                <mat-card-title>{{oglas.nazivOglasa}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src = "http://localhost:8080/profilePictures/{{oglas.putDoLogoFirma}}" style = "width:200px;height:200px;margin:auto">
            <mat-card-content>
                <p class = "oglasText">{{oglas.tekstOglasa}}</p>
            </mat-card-content>
            <mat-card-actions>
                <div>
                    <button mat-raised-button color= "primary" (click) = "openOglas(oglas)">Pogledaj</button>
                    <button mat-button color= "primary" (click) = "spremiOglas(oglas)">Spremi</button>
                    <button mat-button color = "accent" (click) = "prijaviOglas(oglas)">Prijavi se</button>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
    <pagination-controls (pageChange) = "page = $event" class = "my-pagination"></pagination-controls>
</div>
<!--
    *ngFor = "let oglas of sviOglasi | paginate: { itemsPerPage: pageSize, currentPage: page}"
-->