<div class = "userSignupDiv" fxLayoutAlign="center center">
  <form class = "userSignupForm" [formGroup] = "userForm">
    <span class = "formTitle">Registrirajte se kao poslodavac!</span><br>
    <mat-form-field class = "signupForm-width">
      <input matInput placeholder="Ime..." autocomplete="off" formControlName = "imeKorisnik">
      <mat-error *ngIf = "hasError('imeKorisnik', 'required')">Potrebno je unijeti ime</mat-error>
    </mat-form-field><br>
    <mat-form-field class = "signupForm-width">
        <input matInput placeholder="Prezime..." autocomplete="off" formControlName = "prezimeKorisnik">
        <mat-error *ngIf = "hasError('prezimeKorisnik', 'required')">Potrebno je unijeti prezime</mat-error>
      </mat-form-field><br>
    <mat-form-field class = "signupForm-width">
        <input matInput placeholder="E-mail..." autocomplete="off" formControlName = "emailKorisnik">
        <mat-error *ngIf = "hasError('emailKorisnik', 'required')">Potrebno je unijeti e-mail</mat-error>
        <mat-error *ngIf = "hasError('emailKorisnik', 'email')">Neispravan e-mail</mat-error>
        <mat-error *ngIf = "hasError('emailKorisnik', 'incorrect')">Postojeći e-mail!</mat-error>
    </mat-form-field><br>
    <mat-form-field class = "signupForm-width">
        <input matInput placeholder="Lozinka..." type = "password" autocomplete="off" formControlName = "lozinkaKorisnik">
        <mat-hint>Unesite minimalno 6 znakova</mat-hint>
        <mat-error *ngIf = "hasError('lozinkaKorisnik', 'required')">Potrebno je unijeti lozinku</mat-error>
        <mat-error *ngIf = "hasError('lozinkaKorisnik', 'minlength')">Potrebno je unijeti najmanje 6 znakova</mat-error>
    </mat-form-field><br><br>
    <mat-form-field class = "signupForm-width">
        <input matInput placeholder="Potvrdite lozinku..." type = "password" autocomplete="off" formControlName = "potvrdaLozinkaKorisnik">
        <mat-error *ngIf = "hasError('potvrdaLozinkaKorisnik', 'required')">Potrebno je potvrditi lozinku</mat-error>
        <mat-error *ngIf = "userForm.get('potvrdaLozinkaKorisnik').invalid && !hasError('potvrdaLozinkaKorisnik', 'required')">Lozinke se ne podudaraju</mat-error>
      </mat-form-field><br><br>
    <span class = "fileUploadText">Slika za profil: </span>
    <input type = "file" accept = "/img/*" disabled><br><br>
    <mat-form-field class = "signupForm-width">
      <input type = "text" placeholder="Odaberite firmu" matInput formControlName = "firmaKorisnik" [matAutocomplete] = "auto">
      <mat-autocomplete #auto = "matAutocomplete">
        <mat-option *ngFor="let firma of filteredFirme | async" [value] = "firma.imeFirma">
          {{firma.imeFirma}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button mat-flat-button color="primary" (click) = "onSubmit()" [disabled] = "!userForm.valid">Završi</button>
    <button mat-flat-button color="accent" routerLink = "/signuppage">Natrag</button>
  </form>
</div>

